{% extends "base.j2.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %} 
    <p>Please provide some points for the graph by clicking the canvas.</p>
    <div>
        <canvas id="drawingCanvas" width="500" height="300">

        </canvas>
    </div>
    {% if message %}
        {{message}}
    {% endif %}
    <div id="insert">

    </div>

<script type="text/javascript">
    let click_list = [];

    var elem = document.getElementById('drawingCanvas');

    elem.addEventListener('click', function(e) {
        var x = e.pageX - $('#drawingCanvas').offset().left;
        var y = e.pageY - $('#drawingCanvas').offset().top;
        click_list.push([x,y]);
        post_new()
    });

    async function post_new() {
        const response = await fetch({{url_for('add_point')|tojson}}, {
            method: 'POST',
            body: JSON.stringify({'data':click_list}),
            contentType: 'application/json'
        });

        if(! response.ok) {
            // If received an error, display message box
            const reason = await response.text();
            alert("Adding a point failed: " + reason);
            return false;
        } else {
            // get matplotlib figure from the response and insert it into a div
            var image_to = document.getElementById('insert');
            image_to.innerHTML=await response.text();
            
        }
    }

</script>

{% endblock %}